.logo{
    background-image: url(../html-css-booleaner/img/pattern.png);
    background-size: contain;
    background-color: rgb(105, 105, 200);
}

<p>{
    color: grey;
}

.table{
    text-align: left;
}