header{;
    width: 100%;
    background-image: url(../html-css-booleaner/img/pattern.png);
    background-size: contain;
    background-color: #4da1ff;
}

.logo{
    padding-top: 30px;
    height: 55px;
    width: 250px;
}
h4{
   color: grey;
}

a{
  color: lightseagreen;
}

.table{
    text-align: left;
    border-collapse: collapse;
}

thead{
    color: white;
    background-color: rgb(39, 39, 193);
}

tbody{
    color: black;
    background-color: rgb(83, 161, 210);
}

span{background-color: yellow;

}
.second_raw{
    background-color: white;
}

.graphic{
    background-image: url(../html-css-booleaner/img/graph.jpg);
}

.monitor{
    background-image: url(../html-css-booleaner/img/monitor.jpg);
}

.graphic, .monitor{
    color: white;
    font-weight: bold;
    font-size: 25px;
    width: 300px;
    height: 200px;
}

.cella{
    width: 50%;
}